plugin:
  name: editor-tagfilter-defaults
  version: 1.0
  vendor: Programmfabrik GmbH
  server:
    api-version:
      require: 1
  webfrontend:
    url: editor-tagfilter-defaults.js
    l10n: l10n

base_config:
  - name: editor-tagfilter-defaults
    group: editor
    parameters:
      filters:
        type: table
        fields:
          - name: "operation"
            type: string-list
            label_choice: "operation"
            choices:
              - update
              - insert
            position: 0
          - name: "mask_id"
            type: "int"
            plugin_type: "mask-select"
            position: 1
          - name: "tagfilter"
            type: "text"
            store_as_json: true
            plugin_type: "tag-filter"
            position: 2
          - name: "default"
            type: "text"
            store_as_json: true
            plugin_type: "column-default-value"
            position: 3
        position: 0
